---
http_interactions:
- request:
    method: get
    uri: https://api.robinhood.com/quotes/FB/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"ask_price":"161.420000","ask_size":200,"bid_price":"161.330000","bid_size":10300,"last_trade_price":"161.360000","last_extended_hours_trade_price":"161.380000","previous_close":"162.000000","adjusted_previous_close":"162.000000","previous_close_date":"2018-09-12","symbol":"FB","trading_halted":false,"has_traded":true,"last_trade_price_source":"consolidated","updated_at":"2018-09-13T23:59:54Z","instrument":"https://api.robinhood.com/instruments/ebab2398-028d-4939-9f1d-13bf38f81c50/"}'
  recorded_at: Fri, 14 Sep 2018 05:16:10 GMT
- request:
    method: get
    uri: https://api.robinhood.com/instruments/ebab2398-028d-4939-9f1d-13bf38f81c50/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      X-Robinhood-Api-Version:
      - 1.245.0
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"margin_initial_ratio":"0.5000","rhs_tradability":"tradable","id":"ebab2398-028d-4939-9f1d-13bf38f81c50","market":"https:\/\/api.robinhood.com\/markets\/XNAS\/","simple_name":"Facebook","min_tick_size":null,"maintenance_ratio":"0.2500","tradability":"tradable","state":"active","type":"stock","tradeable":true,"fundamentals":"https:\/\/api.robinhood.com\/fundamentals\/FB\/","quote":"https:\/\/api.robinhood.com\/quotes\/FB\/","symbol":"FB","day_trade_ratio":"0.2500","name":"Facebook,
        Inc. Class A Common Stock","tradable_chain_id":"c5a11b65-4c5b-4501-99ba-932f203effbf","splits":"https:\/\/api.robinhood.com\/instruments\/ebab2398-028d-4939-9f1d-13bf38f81c50\/splits\/","url":"https:\/\/api.robinhood.com\/instruments\/ebab2398-028d-4939-9f1d-13bf38f81c50\/","country":"US","bloomberg_unique":"EQ0000000002815382","list_date":"2012-05-18"}'
  recorded_at: Fri, 14 Sep 2018 05:16:11 GMT
- request:
    method: get
    uri: https://api.robinhood.com/instruments/?ids=ebab2398-028d-4939-9f1d-13bf38f81c50
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      X-Robinhood-Api-Version:
      - 1.245.0
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"previous":null,"results":[{"margin_initial_ratio":"0.5000","rhs_tradability":"tradable","id":"ebab2398-028d-4939-9f1d-13bf38f81c50","market":"https:\/\/api.robinhood.com\/markets\/XNAS\/","simple_name":"Facebook","min_tick_size":null,"maintenance_ratio":"0.2500","tradability":"tradable","state":"active","type":"stock","tradeable":true,"fundamentals":"https:\/\/api.robinhood.com\/fundamentals\/FB\/","quote":"https:\/\/api.robinhood.com\/quotes\/FB\/","symbol":"FB","day_trade_ratio":"0.2500","name":"Facebook,
        Inc. Class A Common Stock","tradable_chain_id":"c5a11b65-4c5b-4501-99ba-932f203effbf","splits":"https:\/\/api.robinhood.com\/instruments\/ebab2398-028d-4939-9f1d-13bf38f81c50\/splits\/","url":"https:\/\/api.robinhood.com\/instruments\/ebab2398-028d-4939-9f1d-13bf38f81c50\/","country":"US","bloomberg_unique":"EQ0000000002815382","list_date":"2012-05-18"}],"next":null}'
  recorded_at: Fri, 14 Sep 2018 05:16:11 GMT
- request:
    method: get
    uri: https://api.robinhood.com/options/chains/c5a11b65-4c5b-4501-99ba-932f203effbf/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      X-Robinhood-Api-Version:
      - 1.245.0
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"can_open_position":true,"symbol":"FB","trade_value_multiplier":"100.0000","underlying_instruments":[{"instrument":"https:\/\/api.robinhood.com\/instruments\/ebab2398-028d-4939-9f1d-13bf38f81c50\/","id":"ec1348dd-c567-4052-9e51-168baed5079d","quantity":100}],"expiration_dates":["2018-09-21","2018-09-28","2018-10-05","2018-10-12","2018-10-19","2018-10-26","2018-11-02","2018-11-16","2018-12-21","2019-01-18","2019-03-15","2019-06-21","2019-12-20","2020-01-17","2020-06-19"],"cash_component":null,"min_ticks":{"cutoff_price":"3.00","below_tick":"0.01","above_tick":"0.05"},"id":"c5a11b65-4c5b-4501-99ba-932f203effbf"}'
  recorded_at: Fri, 14 Sep 2018 05:16:12 GMT
- request:
    method: get
    uri: https://api.robinhood.com/options/instruments/?chain_id=c5a11b65-4c5b-4501-99ba-932f203effbf&expiration_dates=2018-09-21&state=active&tradability=tradable&type=call
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en-us
      X-Robinhood-Api-Version:
      - 1.245.0
      Allow:
      - GET, HEAD, OPTIONS
    body:
      encoding: UTF-8
      string: '{"previous":null,"results":[{"issue_date":"2012-05-25","tradability":"tradable","strike_price":"138.0000","state":"active","url":"https:\/\/api.robinhood.com\/options\/instruments\/2bd001e1-cad0-4ef9-b711-15bc59f44230\/","expiration_date":"2018-09-21","created_at":"2018-09-07T02:11:36.235772Z","chain_id":"c5a11b65-4c5b-4501-99ba-932f203effbf","updated_at":"2018-09-07T02:11:36.235779Z","rhs_tradability":"untradable","type":"call","chain_symbol":"FB","min_ticks":{"cutoff_price":"3.00","below_tick":"0.01","above_tick":"0.05"},"id":"2bd001e1-cad0-4ef9-b711-15bc59f44230"},{"issue_date":"2012-05-25","tradability":"tradable","strike_price":"136.0000","state":"active","url":"https:\/\/api.robinhood.com\/options\/instruments\/60f31b50-f69f-428d-965b-d039a45196fd\/","expiration_date":"2018-09-21","created_at":"2018-09-07T02:11:36.235104Z","chain_id":"c5a11b65-4c5b-4501-99ba-932f203effbf","updated_at":"2018-09-07T02:11:36.235111Z","rhs_tradabili[...]
